<p id="notice"><%= notice %></p>

<h1>Bot Responses</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bot_responses.each do |bot_response| %>
      <tr>
        <td><%= bot_response.description %></td>
        <td><%= link_to 'Show', bot_response %></td>
        <td><%= link_to 'Edit', edit_bot_response_path(bot_response) %></td>
        <td><%= link_to 'Destroy', bot_response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bot Response', new_bot_response_path %>
